spring.datasource.url=jdbc:postgresql://localhost:5432/library
spring.datasource.username=[user_name]
spring.datasource.password=[password]
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto= update

#
# Spring Data REST properties
#
server.port=3000
server.servlet.context-path=/api

# App Properties
library.app.jwtSecret=[secret key]
library.app.saltRounds=10
library.app.jwtExpirationMs= 86400000
spring.mvc.dispatch-options-request=true